<footer>
    <div class="row" id="div-row">
        <div class="col-m-12">
            <h3>contactos y ubicación<img src="../../../assets/icon-map.png" alt="icono" id="icono-ubicación"></h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>
                    <p id="nombre">Torre Martín Ernesto</p>
                    <p id="localidad">Quilmes, Buenos Aires, Argentina</p>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-6">
                <p>
                    <a href="https://web.whatsapp.com/%F0%9F%8C%90/es" target="_blank" title="Whatsapp Web"
                        ><img class="contactos" src="../../../assets/whatsapp.png" alt="icono-whatsapp" class="contactos"><p class="contactos">+54 xxxxxxxxxx</p> 
                        </a><br><br>
                    <a href="https://www.google.com/intl/es-419/account/about/" target="_blank"
                        title="Servicios de Google"><img class="contactos" src="../../../assets/gmail.png" alt="icono-gmail"><p class="contactos">torremartinernesto@gmail.com</p>
                        </a>
                </p>
            </div>
            <div class="col-md-6 col-lg-6">
                <h1>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7687.916323509173!2d-58.25549227094145!3d-34.72065926073619!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1678899759778!5m2!1ses-419!2sar"
                        width="100" height="100" margin="left" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" id="iframe">
                    </iframe>
                </h1>
            </div>
        </div>
    </div>
</footer>

